<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New data</h1>
    <form action="create" method="POST">
      <label>Country</label><br />
      <input type="text" name="country" /><br />
      <label>Population</label><br />
      <input type="text" name="population" /><br />
      <label>Language</label><br />
      <input type="text" name="language" /><br />
      <button type="submit">submit</button>
    </form>
  </body>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    form {
      text-align: center;
    }
  </style>
</html>
